<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="../../assents/styles/reset.css">
    <title>header</title>
</head>
<body>
    <header class="header">
        <div class="header-box">
        <h3 class="header-title">Light</h3>
            <div class="header-navigation">
                <nav class="header-choice">
                    <ul class="navigation__item">
                        <li class="navigation__item__name"><a href="#" class="item__name__text item__name__text--active">Home</a></li>
                        <li class="navigation__item__name" ><a href="#" class="item__name__text" >Company</a></li>
                        <li class="navigation__item__name"><a href="#" class="item__name__text">Features</a> </li>
                    </ul>  
                </nav>
                <button class="navigation__item__btn">Sign In</button></li>
            </div>
        <img src="../../assents/images/header/Ellipse 8 (1).svg" class="Header-ellips" alt="Ellipse">
        </div>
    </header>
</body>
</html>