<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assents/styles/reset.css">
    <link rel="stylesheet" href="company.css">
    <title>Company</title>
</head>
<body>
    <section class="company">
        <div class="company-box">
        <div class="company-about">
            <h3 class="company__title">Our company values culture <img class="company__img" src="../../assents/icons/Company/head.svg" alt=""></h3>
           
            <p class="company__description" >We specialize in creating visual identities for products and branda in your company.</p>
        </div>
        <ul class="choice">
                <li class="choice-icon">
                    <img class="choice-icon__img" src="../../assents/icons/Company/victory-hand.svg" alt="">
                    <p class="choice-icon__text">Be Sincere</p>
                </li>
                <li class="choice-icon">
                    <img class="choice-icon__img" src="../../assents/icons/Company/viktori.svg" alt="">
                    <p class="choice-icon__text">Keep it simple</p>
                </li>
                <li class="choice-icon">
                    <img class="choice-icon__img" src="../../assents/icons/Company/twohand.svg" alt="">
                    <p class="choice-icon__text">Stronger together</p>
                </li>
                <li class="choice-icon">
                    <img class="choice-icon__img" src="../../assents/icons/Company/lamp.svg" alt="">
                    <p class="choice-icon__text">Take intelligent risks</p>
                </li>
        </ul>
        </div>
    </section>
</body>
</html>