<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assents/styles/reset.css">
    <link rel="stylesheet" href="item-page.css">
    <title>Item page</title>
</head>
    <body>
        <section class="page">
            <img class="page-img" src="../../assents/images/Itempage/Rectangle 33.png" alt="Foto_user">
            <h4 class="page-title">Metaverse</h4>
            <p class="page-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo earum qui omnis dolorum vitae facilis nisi quibusdam voluptate optio iusto dolorem, reprehenderit id, quisquam eveniet suscipit exercitationem. Pariatur, sunt quos?</p>
        </section>
    </body>
</html>