<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assents/styles/reset.css">
    <link rel="stylesheet" href="hero.css">
    <title>Hero</title>
</head>
<body  style="background-color: rgb(5, 5, 5);">
    <section class="hero">
    <div class="hero-box">
    <div class="hero-description">
        <h1 class="hero-title">Let’s Explore Three-Dimensional visual</h1>
        <p class="hero-text">hero-doskriptionWith virtual technology you can see the digital world feel more real and you can play the game with a new style.</p> 
        <form class="hero-choice">
            <button class="hero-choice__button hero-choice__button--active">Get it Now</button>
            <button class="hero-choice__button">Explore Device</button>
        </form>
        <ul class="hero-user">
            <li class="hero-user__foto"><img src="../../assents/images/hero/userfoto1.png" alt="userfoto1"></li>
            <li class="hero-user__foto"><img src="../../assents/images/hero/userfoto2.png" alt="userfoto2"></li>
            <li class="hero-user__foto"><img src="../../assents/images/hero/userfoto3.png" alt="userfoto3"></li>
            <li class="hero-user__foto"><img src="../../assents/images/hero/userfoto4.png" alt="userfoto4"></li>
            <li class="hero-user__text"> <p> <img src="../../assents/icons/hero/ell.svg" alt=""> 400k people online</p></li>
        </ul> 
        
    </div>
    <div class="hero-poster">
        <img class="hero-poster__foto" src="../../assents/images/hero/Fotoplayernew.png" alt="Fotoplayer">
        <div class="hero-poster__description">
            <h3 class="hero-poster__title">Cinematic Virtual Reality</h3>
            <hr class="hero-line">
            <p class="hero-poster__text">Let’s be the best for more real and effective results and ready to explore the limitless world that we have prepared for you.</p>
        </div>
    </div>
    <img src="../../assents/images/hero/EllipseLeft.svg" class="hero-ellips_left" alt="EllipseLeft">
    <img src="../../assents/images/hero/EllipseRich.png" class="hero-ellips_rich" alt="EllipseRich">
    </section>
    </div>
</body>
</html>