<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assents/styles/reset.css">
    <link rel="stylesheet" href="sign-in-page.css">
    <title>sign in parge</title>
</head>
<body>
    <section class="sign">
        <h3 class="sign-title">Sign in</h3>
        <form class="sign-form" id="signForm">
            <input class="sign-input" id="user" type="text" placeholder="Email or username">
            <input class="sign-input" id="password" type="password" placeholder="Password">
            <button type="submit" class="sign-btn" >Sign in</button>
        </form>
        <img src="../../assents/images/sign-in/Ellipse 8 (1).png" class="sign-img2" alt="Ellipse">
        <img src="../../assents/images/sign-in/Ellipse 6 (1).png" class="sign-img1" alt="Ellipse">
    </section>
    <script src="./skript-sign-in.js"></script>
</body>
</html>