<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assents/styles/reset.css">
    <link rel="stylesheet" href="footer.css">
    <title>footer</title>
</head>
<body>
    <footer class="footer">
        <div class="footer-box">
            <div class="footer-explore">
                <h3 class="footer-title">Explore product in new way <img src="../../assents/icons/footer/Vector.svg" alt=""></h3>
                <p class="footer-description">We specialize in creating visual identities for products and branda in your company.</p>
                <form class="footer-form">
                    <input class="footer-form__input" type="text" placeholder="Your Email">
                    <button class="footer-form__button">Start<img class="footer-form__img" src="../../assents/icons/footer/Vector (1).svg" alt=""></button>        
                 </form>
            </div>
            <img class="footer-img" src="../../assents/images/footer/head.png" alt="photo head">
        </div>
    </footer>
</body>
</html>