<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assents/styles/reset.css">
    <link rel="stylesheet" href="content.css">
    <title>content</title>
</head>
    <body>
        <section class="content">
            <div class="content-box">
                <div>
                    <img class="content-player1" src="../../assents/images/content/player1.png" alt="Foto player">
                </div>  
                <div> 
                    <img class="content-player2" src="../../assents/images/content/player2.png" alt="Foto player">
                </div> 
                <div>
                <h3 class="content-title">New Experience In Playing Game</h3>
                <p class="content-description">You can try playing the game with anew style and of course a more real feel, like you are the main character in your game and adventure in this new digital world.</p>
                <button class="content-button">Get it Now</button>
            </div>  
        </section>
    </body>
</html>