<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assents/styles/reset.css">
    <link rel="stylesheet" href="clients.css">
    <title>Clients</title>
</head>
<body>
    <section class="clients">
        <div class="clients-box" >
        <h3 class="clients-header">What our clients say</h3>
        <p class="clients-text">See what our customer say about us. It really matter for us. How good or bad we will make ir for evaluation to make EhyalLive better.</p>
        <ul class="clients-user">
            <li class="clients-user__item">
                <span class="user-text">starstarstar</span>
                <p class="user-description">“I know in real-time where the money is spent,and I don’t have to lend out the company’s credit card anymore. What a relief!”</p>
                <div class="user-person">
                    <img src="../../assents/images/clients/Ellipse 11.png" alt="fhotouser1">
                    <div class="person-name">   
                        <p class="person-name__foto">Denny Hilguston</p>
                        <address class="parson-name__address">@denny.hill</address>
                    </div>
                </div>
            </li>
            <li class="clients-user__item">
                <span class="user-text" >starstarstar</span>
                <p class="user-description">VISUALS are much better. The improvements in optics and resolution and much more than a modern console generation leap.</p>
                <div class="user-person">
                    <img src="../../assents/images/clients/Ellipse 11 (1).png" alt="fhotouser1">
                    <div class="person-name">
                        <p class="person-name__foto">Vani Pandey</p>
                        <address class="parson-name__address">@vani.pandey</address>
                    </div>
                </div>
            </li>
            <li class="clients-user__item" >
                <span class="user-text">starstarstar</span>
                <p class="user-description">I can actually see the improvement in the graphics, not having the external sensors is a big plus.</p>
                <div class="user-person">
                    <img src="../../assents/images/clients/Ellipse 11 (3).png" alt="fhotouser1">
                    <div class="person-name">
                        <p class="person-name__foto">milly Singh</p>
                        <address class="parson-name__address"><p>@milly.singh</p></address>
                    </div>
                </div>
            </li>
        </ul>
        </div>
    </section>
</body>
</html>