<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ListItem</title>
    <link rel="stylesheet" href="../../assents/styles/reset.css">
    <link rel="stylesheet" href="listitem.css">
</head>
<body>
<div class="listitem-box">
    <div class="listitem-heat">
        <div class="listitem-description">
            <h3 class="description__title">Awesome experiences with virtual reality world </h3>
            <img class="description__imag" src="../../assents/images/ListItem/Fotovideo.png" alt="video">            
        </div>
        <img class="lisninem-heat__fon" src="../../assents/images/ListItem/Vector 5.png" alt="">
    </div>
    
    <div class="listitem-sort">
        <h3 class="sort__title">Mixed Reality Headsets</h3>
        <select class="sort__select" name="sort">
            <option value="New first">New first</option>
            <option value="Last first">Last first</option>
        </select>
    </div>
    <ul class="listitem-content">
            <li >   <img class="listitem-content__foto" src="../../assents/images/ListItem/Rectangle 34.png" alt="user">
                    <div class="headsets-dscr">
                        <h5 class="headsets-dscr__name">Metaverse</h5>
                        <p class="headsets-dscr__text">
                            A Network of 3D virtual worlds focused on social connection.
                        </p>
                    </div>
            </li>
            <li > <img class="listitem-content__foto" src="../../assents/images/ListItem/Rectangle 34.png" alt="user">
                    <div class="headsets-dscr">
                        <h5 class="headsets-dscr__name">Metaverse</h5>
                        <p class="headsets-dscr__text">
                            A Network of 3D virtual worlds focused on social connection.
                        </p>
                    </div>
            </li>
            <li > <img class="listitem-content__foto" src="../../assents/images/ListItem/Rectangle 34.png" alt="user">
                    <div class="headsets-dscr">
                        <h5 class="headsets-dscr__name">Metaverse</h5>
                        <p class="headsets-dscr__text">
                            A Network of 3D virtual worlds focused on social connection.
                        </p>
                    </div>
            </li>
            <li > <img class="listitem-content__foto" src="../../assents/images/ListItem/Rectangle 34.png" alt="user">
                <div class="headsets-dscr">
                    <h5 class="headsets-dscr__name">Metaverse</h5>
                    <p class="headsets-dscr__text">
                        A Network of 3D virtual worlds focused on social connection.
                    </p>
                </div>
            </li>
            <li > <img class="listitem-content__foto" src="../../assents/images/ListItem/Rectangle 34.png" alt="user">
                <div class="headsets-dscr">
                    <h5 class="headsets-dscr__name">Metaverse</h5>
                    <p class="headsets-dscr__text">
                        A Network of 3D virtual worlds focused on social connection.
                    </p>
                </div>
            </li>
            <li > <img class="listitem-content__foto" src="../../assents/images/ListItem/Rectangle 34.png" alt="user">
                <div class="headsets-dscr">
                    <h5 class="headsets-dscr__name">Metaverse</h5>
                    <p class="headsets-dscr__text">
                        A Network of 3D virtual worlds focused on social connection.
                    </p>
                </div>
            </li>
        </ul>
    <ul class="listitem-choice">
        <li class="choice__select"><img src="../../assents/icons/ListItem/left.svg" alt="left"> </li>
        <li > <button class="choice__button choice__button--active">1</button> </li>
        <li > <button class="choice__button">2</button></li>
        <li ><button class="choice__button">...</button></li>
        <li ><button class="choice__button">9</button></li>
        <li ><button class="choice__button">10</button></li>
        <li class="choice__select"><img src="../../assents/icons/ListItem/rach.svg" alt="rich"></li>
    </ul>
</div>
</body>
</html>